<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<p>– El sitio web www.pelispedia.tv es un foro que proporciona acceso a la información y contenido de vídeo a sus miembros registrados mediante el uso de la tecnología de “Insersión de Videos”.

– El acceso a los contenidos de vídeo a través de “Insersión de Videos” no es una infracción del derecho de autor, según sentencias del Séptimo Tribunal de Apelaciones. (Más detalles…)

– Todos los archivos de vídeo están alojados en idowatch.net, sevenload.com, vipshare.org, openload.co, powvideo.net, netu.tv, YouTube.com, video.google.com, o páginas web similares.

– El sitio web  www.pelispedia.tv y sus usuarios encuentran esos archivos y lo agregan exclusivamente en forma de archivos textuales que son reproducidos mediante el Reproductor Flash (códigos de video insertados). Por lo tanto, www.pelispedia.tv es un índice y una base de datos de vídeos insertados de sitios que ofrecen compartir vídeos.

– La web www.pelispedia.tv no almacena ni sube en su sitio o servidor, cualquier archivo de vídeo, película, archivo multimedia (por ejemplo, avi, mov, flv, mpg, mpeg, divx, dvd rip, mp3, mp4 , torrent, iPod, PSP) o cualquier otro material protegido por derechos de autor.

– El sitio web  www.pelispedia.tv no es responsable por la precicion, cumplimiento, la infracción de los derechos de autor, legalidad, decencia, o cualquier otro aspecto del contenido de otros sitios enlazados.

– Si tiene cualquier reclamación legal sobre el contenido que se encuentra en los sitios enlazados, por favor póngase en contacto con los medios adecuados; los propietrios de los archivos, hosters o uploaders.

www.pelispedia.tv está de acuerdo con 17 USC § 512 y la Digital Millennium Copyright Act (“DMCA”). Es nuestra política responder a cualquier notificación de infracción y tomar las acciones apropiadas bajo la Digital Millennium Copyright Act (“DMCA”) y otras leyes de propiedad intelectual aplicables.

Si su material con derechos de autor se ha publicado en www.pelispedia.tv o si enlaces a su material con derechos de autor se devuelven a través de nuestro motor de búsqueda y desea que ese material sea removido, usted debe proporcionar una comunicación escrita que detalla la información que se indica en la siguiente sección. Tenga en cuenta que usted será responsable de los daños y perjuicios (incluidos gastos y honorarios de abogados) si tergiversa informacion que figura en nuestro sitio que está infringiendo sus derechos de autor. Le sugerimos que primero se ponga en contacto con un abogado de asistencia legal en esta materia.


Los siguientes elementos deben ser incluidos en su demanda por infracción de derechos de autor:

Proporcionar evidencia de la persona autorizada para actuar en nombre del titular de un derecho exclusivo que presuntamente se ha infringido.
Proporcionar información de contacto suficiente para que podamos comunicarnos con usted. También debe incluir una dirección de correo electrónico válida.
Debe identificar detalladamente el trabajo cuyos derechos de autor han sido violados y que incluye al menos un término de búsqueda en las que el material aparece en los resultados de búsqueda de www.pelispedia.tv .
Una declaración de que la parte reclamante cree de buena fe que el uso del material descrito en la reclamación no está autorizado por el propietario del copyright, su agente o la ley.
Una declaración que afirme que la información de la notificación es exacta, y bajo pena de perjurio, que la parte reclamante está autorizada a actuar en nombre del titular de un derecho que presuntamente se ha infringido.
Debe ser firmado por la persona autorizada para actuar en nombre del titular de un derecho que presuntamente se ha infringido.

Enviar el aviso de infracción por un correo electrónico a dmca@pelispedia.tv

Por favor, espere entre 3 y 7 días hábiles para una respuesta. Tenga en cuenta que el envío de su queja a otras partes, como nuestro proveedor de servicios de Internet no acelerará su solicitud y puede resultar en una respuesta retrasada o nula debido a que la denuncia no pudo haber sido presentado correctamente.</p>

</body>
</html>