{% load static %}
<!DOCTYPE html>

<html >
<head>
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
  <title>{% block title %}WaoMovies{% endblock %}</title>
</head>
{% block head %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>WaoMovies</title>
    
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600'>
         <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
           <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>



<style type="text/css">
 


 .none {
  display: none;
 }
 .fa-circle-o-notch {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
</style>

<style type="text/css">
.alert {
    background-color: #f44336; 
    color: white;
    position: fixed;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;

}

.success {
  background-color: #2ECC71;

}

.info {
  background-color: purple;

}
.closebtn:hover {
    color: black;
}

#summary {
}

#summary:hover {
    cursor: pointer;
}

#detail {
    width: 300px;
    height: 300px;
    background: black;
    display: none;
}

button{
outline:none;
}

.buttonn {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 60px;
    height: 40px;
    overflow: hidden;
    position: relative;
    background-color: #4CAF50;


}

.buttonn:after {
    content: "";
    background: #949494;
    border-radius: 50%;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

.buttonn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
</style>
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone-no">

  <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

  <link rel="stylesheet" href="{% static 'frameworks/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'frameworks/css/mdb.css' %}">



  <link rel="stylesheet" href="{% static 'css/star-rating-svg.css' %}">
  
  

{% block styless %}
{% endblock %}


</head>
{% endblock %}
<body >

  <style type="text/css">
  .btn-floating:hover {
    animation-duration: 1s;
    animation-name: rotar;
    animation-iteration-count: 0.6;
  }
  @keyframes rotar {
    from {
     transform:  rotate(0deg);
    }
    to {
      transform:rotate(362deg);
    }
  }
  .pills-secondary .nav-link.active {
    background-color: none;
    border-bottom: #f2ba2e solid 1px !important;
    border-radius: 2px;
}
.pills-secondary .nav-link {
    color: white;
}

.scrollbarr-primary::-webkit-scrollbar {
  width: 12px;
  background-color: gray; }

.scrollbarr-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4; }

.scrollbarr-danger::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbarr-danger::-webkit-scrollbar {
  width: 12px;
  background-color: gray; }

.scrollbarr-danger::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: #ED213A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

.scrollbarr-warning::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: none;
  border-radius: 10px; }

.scrollbarr-warning::-webkit-scrollbar {
  width: 8px;
  background-color: none; }

.scrollbarr-warning:hover::-webkit-scrollbar {
  width: 12px;
  background-color: none; }

.scrollbarr-warning::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #FF8800; }

.scrollbarr-success::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbarr-success::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbarr-success::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #00C851; }

.scrollbarr-info::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #020D18;
  border-radius: 10px;
   }

.scrollbarr-info::-webkit-scrollbar {
  width: 12px;
  background-color: #020D18;
   }

.scrollbarr-info::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #233A50;
   }

.scrollbarr-default::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbarr-default::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbarr-default::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #2BBBAD; }

.scrollbarr-secondary::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbarr-secondary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbarr-secondary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #aa66cc; }
  </style>
{% if request.user.is_authenticated %}
<div class="fixed-action-btn" style="">
  <a class="btn-floating btn-large "class="btn btn-primary" id="buttonunos" style="-moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow: 0px 2px 3px #ccc;
    box-shadow: 0px 2px 3px #ccc; background: transparent; " data-toggle="modal" data-target="#modalPoll">
    <img src="{% static 'img/wamovieslogo.png' %}">
  </a>
  
</div>

<!-- Modal: modalPoll -->
<div  style="z-index: 99999999; padding-left:0px;"class="modal fade right" id="modalPoll" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-backdrop="false">
  <div class="modal-dialog modal-full-height modal-right modal-notify modal-info">
    <div style="background-color:rgba(0,0,0,0.7); border-radius: 3px;" class="modal-content">
      <!--Header-->
      <div class="modal-header" style="background-color:#fdd835; height: 50px; position: absolute; margin-bottom: 30px; width: 100%;">
        <img style="margin-top: 8px;" class="logo" src="{% static 'img/waologo.png' %}" alt="" width="110" height="60">

        <p class="heading lead" style="text-shadow: 1px 1px gray;text-align: center; font-size: 17px; font-weight: bold; margin-left: 14px; font-family: dosis;">
          Menú WAO
        </p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 19px;">
          <span aria-hidden="true" class="white-text" style="text-shadow: 2px 2px gray;">×</span>
        </button>

      </div>
<br>
<br>
      <!--Body-->
      <div class="modal-body">
        <ul class="nav md-pills nav-justified pills-secondary">
    
    <li class="nav-item">
        <a class="nav-link active"  data-toggle="tab" id="buttonpp" href="#panel11" role="tab"  >Seguir viendo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" id="buttondos" href="#panel12" role="tab">¡Debes ver!</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel13" id="buttontres"  role="tab" >Novedades</a>
    </li>
</ul>

<!-- Tab panels -->
<div class="tab-content" style="">

    <!--Panel 1-->
    <div class="tab-pane fade in show active scrollbarr-warning" id="panel11" role="tabpanel" style="">

        <ul class="nav md-pills nav-justified pills-secondary">
    
    <li class="nav-item">
        <a class="nav-link active" id="buttonuno" data-toggle="tab" href="#panel11p" role="tab" id="buttonUno" onclick="">Películas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" id="buttonunosz" href="#panel11s" role="tab">Series</a>
    </li>
    
</ul>

<div class="tab-pane fade scrollbarr-warning in show active" id="panel11p" role="tabpanel" style="overflow-y: scroll; max-height: 500px; margin-top: 15px; ">
        <br><br>

        

    </div>
    <div class="tab-pane fade scrollbarr-warning" id="panel11s" role="tabpanel" style="overflow-y: scroll; max-height: 500px; margin-top: 15px; ">
        <br><br>

        

    </div>
    </div>
    <!--/.Panel 1-->

    <!--Panel 2-->
    <div class="tab-pane fade scrollbarr-warning" id="panel12" role="tabpanel" style="overflow-y: scroll; max-height: 500px; margin-top: 15px; ">
        <br><br>

        

    </div>
    <!--/.Panel 2-->

    <!--Panel 3-->
    <div class="tab-pane fade scrollbarr-warning" id="panel13" role="tabpanel" style="overflow-y: scroll; max-height: 500px; margin-top: 15px; ">
        <br><br>

        

    </div>
    <!--/.Panel 3-->
<div id="displayload" style="display: none;"><img style="position: relative; left: 45%;" height="50" width="50" src="{% static "img/fancybox_loading@2x.gif" %}"></div>
    <!--Panel 4-->
    <div class="tab-pane fade" id="panel14" role="tabpanel">
        <br>

        

    </div>
    <!--/.Panel 4-->

</div>
        
        

      </div>

      <!--Footer>
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-primary waves-effect waves-light">Send
          <i class="fa fa-paper-plane ml-1"></i>
        </a>
        <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Cancel</a>
      </div-->
    </div>
  </div>
</div>


<script type="text/javascript">
 
    $('#buttontres').click(function(e){
      e.stopImmediatePropagation();
  $('#panel13').addClass("active");
  $('#panel13').addClass("show");
  $('#panel13').addClass("in");


  $('#panel11').removeClass("active");
  $('#panel11').removeClass("show");
  $('#panel11').removeClass("in");
$('#panel12').removeClass("active");
  $('#panel12').removeClass("show");
  $('#panel12').removeClass("in");

  $('#buttontres').addClass("active")
  $('#buttondos').removeClass("active")
  $('#buttonpp').removeClass("active")



 $.ajaxSetup({ cache: false,
 beforeSend: function(){
      load=  document.getElementById('displayload').style.display="initial"
    }, 
success: function(){
         load =  document.getElementById('displayload').style.display="none"
    }



 });
  $('#panel13').html('');
  $('#state').val('');
  var searchField = $('#search').val();
  var expression = new RegExp(searchField, "i");
  var resultac = document.getElementById('result')
 
  $.getJSON('/waomovies/pelis_user_novel/') 
  .done(function(data) {
   $.each(data, function(key, value){
    if (value.titulo.search(expression) != -1 || value.director.search(expression) != -1)
    {
     $('#panel13').append('<li class="list-group-item link-class"><a style="color: black;" href="/waomovies/peliculas/'+value.slug+'/"><img src="'+value.Cover+'" height="40" width="40" class="img-thumbnail" /> '+value.titulo+' | <span class="text-muted">'+value.director+'</span></a></li>');
    }


   
   });  

  
var load = false
  
  });


 
 
 // When the user clicks anywhere outside of the modal, close it

});


  
  
</script>

<script type="text/javascript">
      $('#buttonuno').click(function(){
  $('#panel11p').addClass("active");
  $('#panel11p').addClass("show");
  $('#panel11p').addClass("in");

  $("#loader").hide()

  $('#panel11s').removeClass("active");
  $('#panel11s').removeClass("show");
  $('#panel11s').removeClass("in");


  $('#buttonuno').addClass("active")
  $('#buttonunosz').removeClass("active")
    document.getElementById('panel11s').style.display="none"
  document.getElementById('panel11p').style.display="initial"

  $.ajaxSetup({ cache: false,
 beforeSend: function(){
      load=  document.getElementById('displayload').style.display="initial"
    }, 
success: function(){
         load =  document.getElementById('displayload').style.display="none"
    }



 });
  $('#panel11p').html('');
  $('#state').val('');
  var searchField = $('#search').val();
  var expression = new RegExp(searchField, "i");
  var resultac = document.getElementById('result')
 
  $.getJSON('/waomovies/seguirviendo/') 
  .done(function(data) {
   $.each(data, function(key, value){
    if (value.titulo.search(expression) != -1 || value.director.search(expression) != -1)
    {
     $('#panel11p').append('<li class="list-group-item link-class"><a style="color: black;" href="/waomovies/peliculas/'+value.slug+'/"><img src="'+value.Cover+'" height="40" width="40" class="img-thumbnail" /> '+value.titulo+' | <span class="text-muted">'+value.director+'</span></a></li>');
    }


   
   });  
   });


})

  
</script>

<script type="text/javascript">
      $('#buttonunosz').click(function(){
  $('#panel11s').addClass("active");
  $('#panel11s').addClass("show");
  $('#panel11s').addClass("in");

  $("#loader").hide()

  $('#panel11p').removeClass("active");
  $('#panel11p').removeClass("show");
  $('#panel11p').removeClass("in");


  $('#buttonunosz').addClass("active")
  $('#buttonuno').removeClass("active")
  document.getElementById('panel11p').style.display="none"
  document.getElementById('panel11s').style.display="initial"

  $.ajaxSetup({ cache: false,
 beforeSend: function(){
      load=  document.getElementById('displayload').style.display="initial"
    }, 
success: function(){
         load =  document.getElementById('displayload').style.display="none"
    }



 });
  $('#panel11s').html('');
  $('#state').val('');
  var searchField = $('#search').val();
  var expression = new RegExp(searchField, "i");
  var resultac = document.getElementById('result')
 
  $.getJSON('/waomovies/seguirviendo_series/') 
  .done(function(data) {
   $.each(data, function(key, value){
    if (value.titulo.search(expression) != -1 || value.director.search(expression) != -1)
    {
     $('#panel11s').append('<li class="list-group-item link-class"><a style="color: black;" href="/waomovies/series/'+value.slug+'/"><img src="'+value.serie_cover+'" height="40" width="40" class="img-thumbnail" /> '+value.titulo+' | <span class="text-muted">'+value.director+'</span></a></li>');
    }


   
   });  
   });


})

  
</script>


<script type="text/javascript">
      $('#buttonunos').click(function(){
  $('#panel11').addClass("active");
  $('#panel11').addClass("show");
  $('#panel11').addClass("in");

  $("#loader").hide()

  $('#panel13').removeClass("active");
  $('#panel13').removeClass("show");
  $('#panel13').removeClass("in");
$('#panel12').removeClass("active");
  $('#panel12').removeClass("show");
  $('#panel12').removeClass("in");

  $('#buttonpp').addClass("active")
  $('#buttontres').removeClass("active")
  $('#buttondos').removeClass("active")

  $.ajaxSetup({ cache: false,
 beforeSend: function(){
      load=  document.getElementById('displayload').style.display="initial"
    }, 
success: function(){
         load =  document.getElementById('displayload').style.display="none"
    }



 });
  $('#panel11p').html('');
  $('#state').val('');
  var searchField = $('#search').val();
  var expression = new RegExp(searchField, "i");
  var resultac = document.getElementById('result')
 
  $.getJSON('/waomovies/seguirviendo/') 
  .done(function(data) {
   $.each(data, function(key, value){
    if (value.titulo.search(expression) != -1 || value.director.search(expression) != -1)
    {
     $('#panel11p').append('<li class="list-group-item link-class"><a style="color: black;" href="/waomovies/peliculas/'+value.slug+'/"><img src="'+value.Cover+'" height="40" width="40" class="img-thumbnail" /> '+value.titulo+' | <span class="text-muted">'+value.director+'</span></a></li>');
    }


   
   });  
   });


})

  
</script>
<script type="text/javascript">
      $('#buttonpp').click(function(){
  $('#panel11').addClass("active");
  $('#panel11').addClass("show");
  $('#panel11').addClass("in");

  $("#loader").hide()

  $('#panel13').removeClass("active");
  $('#panel13').removeClass("show");
  $('#panel13').removeClass("in");
$('#panel12').removeClass("active");
  $('#panel12').removeClass("show");
  $('#panel12').removeClass("in");

  $('#buttonpp').addClass("active")
  $('#buttontres').removeClass("active")
  $('#buttondos').removeClass("active")

 


})

  
</script>

<script type="text/javascript">
  $('#buttondos').click(function(){
  $('#panel12').addClass("active");
  $('#panel12').addClass("show");
  $('#panel12').addClass("in");


  $('#panel13').removeClass("active");
  $('#panel13').removeClass("show");
  $('#panel13').removeClass("in");
$('#panel11').removeClass("active");
  $('#panel11').removeClass("show");
  $('#panel11').removeClass("in");

  $('#buttondos').addClass("active")
  $('#buttontres').removeClass("active")
  $('#buttonpp').removeClass("active")
  $.ajaxSetup({ cache: false,
 beforeSend: function(){
      load=  document.getElementById('displayload').style.display="initial"
    }, 
success: function(){
         load =  document.getElementById('displayload').style.display="none"
    }



 });
  $('#panel12').html('');
  $('#state').val('');
  var searchField = $('#search').val();
  var expression = new RegExp(searchField, "i");
  var resultac = document.getElementById('result')
 
  $.getJSON('/waomovies/añadiste/') 
  .done(function(data) {
   $.each(data, function(key, value){
    if (value.titulo.search(expression) != -1 || value.director.search(expression) != -1)
    {
     $('#panel12').append('<li class="list-group-item link-class"><a style="color: black;" href="/waomovies/peliculas/'+value.slug+'/"><img src="'+value.Cover+'" height="40" width="40" class="img-thumbnail" /> '+value.titulo+' | <span class="text-muted">'+value.director+'</span></a></li>');
    }


   
   });  

  
var load = false
  
  });


})
</script>
<!-- Modal: modalPoll -->

{% endif %}
  
  <!--script type="text/javascript">
    
   document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, options);
  });

    
  </script-->

  <div id="act">
{% if messages  %}


    {% for message in messages %}
        <div style="margin-bottom: 0px;"  class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      {% if messages != "Debes confirmar tu dirección email" %}{{ message }}{% endif %}

    </div>
    {% endfor %}
{% endif %}
</div>
  {% block header %}

  <div class="scrollbar scrollbar-primary">
    <div class="force-overflow"></div>
</div>
            


<!--div id="preloader" style="  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E3C813;
  z-index: 99999;
  text-align: center;">

<img class="logo" src="{% static 'img/sin título-1.png' %}" alt="" width="280" height="140">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div-->
<div class="login-wrapper" id="login-content" style="z-index: 500000;">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Iniciar Sesión</h3>
        <form method="post" action="/waomovies/auth/">
        {% csrf_token %}

         <div class="row">
                <label for="">
                    Email:
                    <input type="email" name="email"  placeholder="" required="required"> 
                </label>
                
            </div>
             <div class="row">
                <label>
                    Contraseña:
                    <input type="password" name="password" placeholder="" required="required">   
                </label>
                
            </div>
            <div class="row">
              <div class="remember">
          <div>
            <input type="checkbox" name="remember" value="Remember me"><span>Recuerdame</span>
          </div>
                <a href="#">¿Olvidaste tu contraseña?</a>
              </div>
            </div>
           <div class="row">
             <button type="submit">Iniciar Sesión</button>
        
        {{ error }}
             
           </div>
        </form>
        <!--div class="row">
          <p>Or via social</p>
            <div class="social-btn-2">
              <a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a>
              <a class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
            </div>
        </div-->
    </div>
</div>
<style type="text/css">
  .login-wrapper {
    display: none;
  }
</style>



<div class="login-wrapper" id="signup-content" >
    <div class="login-content" >
        <a href="#" class="close">x</a>
        <h3>Bienvenido/a</h3>
        <form method="post" action="/waomovies/register/" id="formulario" name="formulario" onsubmit="return validarFormulario()">
          {% csrf_token %}
            <div id="full_name_div" class="row">
                 <label>
                    Nombre completo:
                    <input type="text" name="full_name"  pattern="[A-Za-z ]{4,30}" title="Tu nombre no puede contener caracteres especiales: más de 4 y menos de 30 caracteres" id="nombre">
                </label> 
                <div id="full_name_error" style="margin-top: -19px;"></div>
            </div>
            <div class="row" id="usuario_div">
                 <label>
                    Nombre de usuario:
                    <input type="text" name="username"  pattern="[A-Za-z0-9]{4,18}" title="El nombre de usuario no puede contener caracteres especiales, ni más de 4 y menos de 18 caracteres" id="usuario">
                </label>
                <div id="usuario_error" style="margin-top: -19px;"></div>

            </div>
           
            <div class="row" id="email_div">
                <label >
                    Email:
                    <input id="correo" type="email" name="email"  pattern="[^@\s]+@[^@\s]+\.[^@\s]+" title="Por favor introduce una dirección de email valida e.g. .XXXX@XXX.com">
                </label>
                <div id="email_error " style="margin-top: -19px;"></div>

            </div>
             <div class="row" id="clave_div">
                <label>
                    Contraseña:
                    <input id="clave" type="password" name="password1"  pattern=".{6,}" title="Seís o más caracteres">
                </label> 
                <div id="clave_error" style="margin-top: -19px;"></div>

            </div>
             <div class="row" id="clave2_div">
                <label>
                    Confirmar contraseña:
                    <input id="clave2" type="password" name="password2"  >
                </label>
                <div id="clave2_error" style="margin-top: -19px;"></div>

            </div>
           <div class="row">
             <button type="submit" value="Register" name="register">Registrarse</button>
             
           </div>
        </form>
    </div>
</div>


<script type="text/javascript">
  function miFuncionload() {
  var formuser = document.getElementsByClassName('login-wrapper')[0]
  var formuser2 = document.getElementsByClassName('login-wrapper')[1]

  formuser.style.display = "initial"
  formuser2.style.display = "initial"

      
    }
    window.onload=miFuncionload;
</script>

<header class="ht-header" >
  <div class="container-fluid">
    <nav class="navbar navbar-default navbar-custom" >
        <div class="navbar-header logo">
          <script type="text/javascript">

            function mac() {

              if (document.getElementById("searchshow").style.display === "none") {
              var verga = document.getElementById("searchshow").style.display = "initial";

                
              } else {
var verga = document.getElementById("searchshow").style.display = "none";
var resultac = document.getElementById('result').style.display= "none";

              }


            }
           
          </script>
         
          <div class="col-md-6" style="position: relative; left: 40px;">
          <div class="toggle-search col-md-6" >
              <i class="fa fa-search" id="searchshower"onclick="mac()" style="color: white;" ></i>
            </div>
            <div class="navbar-toggle col-md-6" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

              <span class="sr-only">Toggle navigation</span>
              <div id="nav-icon1">
              <span></span>
              <span></span>
              <span></span>
            </div>
            </div>
            </div>
            <a href="/waomovies/inicio/"><img style="margin-left: 15px;" class="logoz logo" src="{% static 'img/waologo.png' %}" alt="" width="180" height="90"></a>

            <a href="/waomovies/inicio/"><img style="width: auto;" class="logo logito" src="{% static 'img/wamovieslogo.png' %}" alt="" ></a>
             
          </div>
        <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav flex-child-menu menu-left">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            
            <li class="dropdown first">
              <a  href="/waomovies/inicio/" >
              Inicio  
              </a>
             
            </li>
            <li class="dropdown first">
              <a href="/waomovies/ver%todo/" >
              Películas
              </a>
              <!--ul class="dropdown-menu level1">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movie grid<i class="ion-ios-arrow-forward"></i></a>
                  <ul class="dropdown-menu level2">
                    <li><a href="moviegrid.html">Movie grid</a></li>
                    <li><a href="ver%todo/">movie grid full width</a></li>
                  </ul>
                </li>     
                <li><a href="movielist.html">Movie list</a></li>
                <li><a href="moviesingle.html">Movie single</a></li>
                <li class="it-last"><a href="seriessingle.html">Series single</a></li>
              </ul-->
            </li>
            <li class="dropdown first">
              <a href="/waomovies/series_list/orden_de_subida">
              Series 
              </a>
              <!--ul class="dropdown-menu level1">
                <li><a href="celebritygrid01.html">celebrity grid 01</a></li>
                <li><a href="celebritygrid02.html">celebrity grid 02 </a></li>
                <li><a href="celebritylist.html">celebrity list</a></li>
                <li class="it-last"><a href="celebritysingle.html">celebrity single</a></li>
              </ul-->
            </li>
            <li class="dropdown first">
              <a class="dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
              Noticias 
              </a>
              <!--ul class="dropdown-menu level1">
                <li><a href="bloglist.html">blog List</a></li>
                <li><a href="bloggrid.html">blog Grid</a></li>
                <li class="it-last"><a href="blogdetail.html">blog Detail</a></li>
              </ul-->
            </li>
           
          </ul>
          <ul class="nav navbar-nav flex-child-menu menu-right">
                      
            <li><a href="#">Ayuda  <i style="padding-left: 5px; padding-right: 5px;" class="fa fa-question-circle" aria-hidden="true"></i>|   </a></li>
            {% if request.user.is_authenticated %}
              <li class="dropdown first">
<a href="/waomovies/usuario/{{user.username}}/"  >
              {%if user.profile.perfil_img %} 
               <img src="{{ user.profile.perfil_img.url }}" style="border-radius:  50%; left: -6px; top: -3px; position: relative; width: 37px; height: 37px;"> {{ user.username }}{% else %}{{ user.full_name }}{% endif%}          
              
              </a>
            </li>


            {% endif %}
            {% if request.user.is_authenticated %}
              <li class="dropdown first">
             

              <ul class="dropdown-menu level1" style="background-color: rgba(255, 255, 255, 0.8);">
                <li><a href="/waomovies/usuario/{{user.username}}/">Cuenta</a></li>
                <li><a href="/waomovies/ver_más_tarde/{{request.user.username}}/">Ver más tarde</a></li>
              </ul>
           
            </li>      
              <li class=""><a href="/waomovies/logout/"><i style="padding-left: 8px;" class="fa fa-sign-in" aria-hidden="true"></i>Cerrar Sesión </a></li>
              

              {% else %}
              <li class="loginLink"><a href="#">Iniciar Sesión</a></li>
              <li class="btn signupLink"><a href="#">Registrarse</a></li>
              {% endif %}
            
          </ul>
        </div>
      </nav>
      

        <style>
  #result {
   position: absolute;
   width: 100%;
   max-width:900px;
   cursor: pointer;
   overflow-y: auto;
   max-height: 400px;
   box-sizing: border-box;
   z-index: 1001;
   left: 256px;

  }
  .link-class:hover{
   background-color: #f1f1f1;

  }

  @media (max-width: 767px) {
    #searchshow {
      display: none;
    }
  }
  </style>
      <form method="post" action="{% if not series_filt %}/waomovies/search/{% else %}/waomovies/buscar_series/{% endif %}" name="formaa">

      <div id="searchshow" class="top-search" style="width: 90%; margin-left: 20px; ">
        <select{% if not series_filt %} onchange='myfunctionss()'{% else %} onchange='myfunctionssa()'{% endif %}>
        <option value="united"{% if not series_filt %}selected{% endif %}>Películas</option>
        <option value="saab"{% if series_filt %}selected{% endif %}>Series</option>
      </select>
        {% csrf_token %}
      <input type="text" placeholder="Buscar en WaoMovies..." name="src" id="search" autocomplete="off">
      </div>
      <ul class="list-group" id="result" style="margin-left: -37px;  "></ul>
      </form>
      
  </div>


  {% if not series_filt %}
<script type="text/javascript">
  function myfunctionss() {
      document.forms['formaa'].action = "/waomovies/buscar_series/"
      document.getElementById('search').id = "search_series";
      document.getElementById('result').id = "result_series";

  }
</script>

<script>
$(document).ready(function(){
 $.ajaxSetup({ cache: false });
 $('#search').keyup(function(es){
  es.stopImmediatePropagation();

  $('#result').html('');
  $('#state').val('');
  var searchField = $('#search').val();
  var expression = new RegExp(searchField, "i");
  var resulta = document.getElementById('search');
  var resultac = document.getElementById('result')
  var widthscreen = $( window ).width()

  if (widthscreen >= 767) {
    var search = document.getElementsById('searchshow').style.display = 'initial'
  $.getJSON('/waomovies/pelis/', function(data) {
   $.each(data, function(key, value){
    if (value.titulo.search(expression) != -1 || value.director.search(expression) != -1 && result.value.length > 1 && widthscreen > 767)
    {
     $('#result').append('<li class="list-group-item link-class"><a style="color: black;" href="/waomovies/peliculas/'+value.slug+'/"><img src="'+value.Cover+'" height="40" width="40" class="img-thumbnail" /> '+value.titulo+' | <span class="text-muted">'+value.director+'</span></a></li>');
    }

    if (resulta.value.length == 0)
    {
      resultac.style.display = "none"
    }
     window.onclick = function(event) {
          if (event.target != result) {
              result.style.display = "none";
          }
      }
    if (resulta.value.length > 0 && widthscreen > 767)
    {
      resultac.style.display = "initial"
    }
   });   
  });
  }
 });
 
 $('#result').on('click', 'li', function() {
  var click_text = $(this).text().split('|');
  $('#search').val($.trim(click_text[0]));
  $("#result").html('');
 });
 // When the user clicks anywhere outside of the modal, close it
 var result = document.getElementById('result');
      window.onclick = function(event) {
          if (event.target == result) {
              result.style.display = "none";
          }
      }
});
</script>
{% else %}
<script type="text/javascript">
  function myfunctionssa() {
      document.forms['formaa'].action = "/waomovies/search/"
      

  }
</script>
{% endif %}

<script type="text/javascript">
  var username = document.forms['formulario']['usuario'];
  var full_name = document.forms['formulario']['nombre'];
  var email = document.forms['formulario']['correo'];
  var pass = document.forms['formulario']['clave'];
  var pass2 = document.forms['formulario']['clave2'];

  var username_error = document.getElementById('usuario_error');
var full_name_error = document.getElementById('full_name_error');
var email_error = document.getElementById('email_error');
var clave_error = document.getElementById('clave_error');

var clave2_error = document.getElementById('clave2_error');


username.addEventListener('blur', nameVerify, true);
full_name.addEventListener('blur', full_nameVerify, true);
email.addEventListener('blur', emailVerify, true);
pass.addEventListener('blur', passwordVerify, true);

function validarFormulario() {
  // validate username
  if (username.value == "") {
    username.style.border = "1px solid red";
    document.getElementById('usuario_div').style.color = "red";
    username_error.textContent = "Nombre de usuario obligatorio";
    username.focus();
    return false;
  }
  // validate username
  if (username.value.length < 4) {
    username.style.border = "1px solid red";
    document.getElementById('usuario_error').style.color = "red";
    username_error.textContent = "El nombre de usuario debe tener más de cuatro caracteres";
    username.focus();
    return false;
  }


 // validate username
  if (username.value.length > 18) {
    username.style.border = "1px solid red";
    document.getElementById('usuario_error').style.color = "red";
    username_error.textContent = "El nombre de usuario debe tener menos de 18 caracteres";
    username.focus();
    return false;
  }

  // validate full_name
  if (full_name.value.length == "") {
    full_name.style.border = "1px solid red";
    document.getElementById('full_name_div').style.color = "red";
    full_name_error.textContent = "Nombre de usuario obligatorio";
    full_name.focus();
    return false;
  }
  // validate full_name
  if (full_name.value.length < 4) {
    full_name.style.border = "1px solid red";
    document.getElementById('full_name_div').style.color = "red";
    full_name_error.textContent = "El nombre de usuario debe tener más de cuatro caracteres";
    full_name.focus();
    return false;
  }


 // validate full_name
  if (full_name.value.length > 30) {
    full_name.style.border = "1px solid red";
    document.getElementById('full_name_div').style.color = "red";
    full_name_error.textContent = "El nombre de usuario debe tener menos de 30 caracteres";
    full_name.focus();
    return false;
  }



  // validate email
  if (email.value == "") {
    email.style.border = "1px solid red";
    document.getElementById('email_div').style.color = "red";
    email_error.textContent = "Email obligatorio";
    email.focus();
    return false;
  }
  // validate password
  if (pass.value == "") {
    pass.style.border = "1px solid red";
    document.getElementById('clave_div').style.color = "red";
    pass2.style.border = "1px solid red";
    clave_error.textContent = "Contraseña obligatoria";
    pass.focus();
    return false;
  }
  // check if the two passwords match
  if (pass.value != pass2.value) {
    pass.style.border = "1px solid red";
    document.getElementById('clave2_div').style.color = "red";
    pass2.style.border = "1px solid red";
    clave_error.innerHTML = "Las contraseñas no coinciden";
    return false;
  }
}
// event handler functions
function nameVerify() {
  if (username.value != "") {
   username.style.border = "1px solid #5e6e66";
   document.getElementById('usuario_div').style.color = "#5e6e66";
   username_error.innerHTML = "";
   return true;
  }
}

function full_nameVerify() {
  if (full_name.value != "") {
   full_name.style.border = "1px solid #5e6e66";
   document.getElementById('full_name_div').style.color = "#5e6e66";
   username_error.innerHTML = "";
   return true;
  }
}
function emailVerify() {
  if (email.value != "") {
    email.style.border = "1px solid #5e6e66";
    document.getElementById('email_div').style.color = "#5e6e66";
    email_error.innerHTML = "";
    return true;
  }
}
function passwordVerify() {
  if (pass.value != "") {
    pass.style.border = "1px solid #5e6e66";
    document.getElementById('clave2_div').style.color = "#5e6e66";
    document.getElementById('clave_div').style.color = "#5e6e66";
    clave_error.innerHTML = "";
    return true;
  }
  if (pass.value === pass2.value) {
    pass.style.border = "1px solid #5e6e66";
    document.getElementById('clave_div').style.color = "#5e6e66";
    clave_error.innerHTML = "";
    return true;
  }
}




</script>

    <script type="text/javascript" src=" {% static 'frameworks/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.js' %}"></script>
    <script type="text/javascript" src="{% static 'frameworks/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frameworks/js/bootstrap.min.js' %}"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</header>

  {% endblock %}
{% block content %}


{% endblock %}
<script type="text/javascript">
  function limita(maximoCaracteres) { var elemento = document.getElementById("texto"); if(elemento.value.length >= maximoCaracteres ) { return false; } else { return true; } }
</script>
{% block footer %}

{% endblock %}

{% block scripts %}


   {% block scriptt %}
  {% endblock %}

 <script src="{% static 'js/jquery.js' %}"></script>


<script src="{% static 'frameworks/js/jquery.Jcrop.min.js' %}"></script>
<script src="{% static 'frameworks/js/jquery.imgpicker.js' %}"></script>

<script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-expander/1.7.0/jquery.expander.js"></script>
<script src="{% static 'js/plugins.js' %}"></script>

<script src="{% static 'js/plugins2.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

{% endblock %}

<footer class="ht-footer row" style="background-color: #01080f;">
  <div class="container">
    <div class="flex-parent-ft">
      <!--div class="flex-child-ft item1">
         <a href="index.html"><img class="logo" src="images/logo1.png" alt=""></a>
         <p>5th Avenue st, manhattan<br>
        New York, NY 10001</p>
        <p>Call us: <a href="#">(+01) 202 342 6789</a></p>
      </div-->
      <div class="flex-child-ft item2 col-md-4">
        <h4>Ayuda</h4>
        <ul>
          <li><a href="/waomovies/sobre/">Sobre</a></li> 
          <li><a href="/waomovies/sobre/">Contactanos</a></li>
          
          <!--li><a href="#">Centro de ayuda</a></li-->
        </ul>
      </div>
      <div class="flex-child-ft item3 col-md-4">
        <h4>Legal</h4>
        <ul>
          <li><a href="/waomovies/terminosycondiciones/">Terminos de uso</a></li> 
          <li><a href="/waomovies/politicadeprivacidad/">Políticas de privacidad</a></li>  
          <li><a data-toggle="modal" data-target="#exampleModalLong" style="cursor: pointer;">Derechos de autor</a></li>
          <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="z-index: 99999;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style="color: gray">DMCA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="color: black;">– El sitio web Waomovies es un foro que proporciona acceso a la información y contenido de vídeo a sus miembros registrados mediante el uso de la tecnología de “Insersión de Videos”.

– Todos los archivos de vídeo están alojados en idowatch.net, sevenload.com, vipshare.org, openload.co, powvideo.net, netu.tv, YouTube.com, video.google.com, o páginas web similares.

– El sitio web  Waomovies y sus usuarios encuentran esos archivos y lo agregan exclusivamente en forma de archivos textuales que son reproducidos mediante el Reproductor Flash (códigos de video insertados). Por lo tanto, Waomovies es un índice y una base de datos de vídeos insertados de sitios que ofrecen compartir vídeos.

– La web Waomovies no almacena ni sube en su sitio o servidor, cualquier archivo de vídeo, película, archivo multimedia (por ejemplo, avi, mov, flv, mpg, mpeg, divx, dvd rip, mp3, mp4 , torrent, iPod, PSP) o cualquier otro material protegido por derechos de autor.

– El sitio web  Waomovies no es responsable por la precicion, cumplimiento, la infracción de los derechos de autor, legalidad, decencia, o cualquier otro aspecto del contenido de otros sitios enlazados.

– Si tiene cualquier reclamación legal sobre el contenido que se encuentra en los sitios enlazados, por favor póngase en contacto con los medios adecuados; los propietrios de los archivos, hosters o uploaders.

Waomovies está de acuerdo con 17 USC § 512 y la Digital Millennium Copyright Act (“DMCA”). Es nuestra política responder a cualquier notificación de infracción y tomar las acciones apropiadas bajo la Digital Millennium Copyright Act (“DMCA”) y otras leyes de propiedad intelectual aplicables.

Si su material con derechos de autor se ha publicado en Waomovies o si enlaces a su material con derechos de autor se devuelven a través de nuestro motor de búsqueda y desea que ese material sea removido, usted debe proporcionar una comunicación escrita que detalla la información que se indica en la siguiente sección. Tenga en cuenta que usted será responsable de los daños y perjuicios (incluidos gastos y honorarios de abogados) si tergiversa informacion que figura en nuestro sitio que está infringiendo sus derechos de autor. Le sugerimos que primero se ponga en contacto con un abogado de asistencia legal en esta materia.


Los siguientes elementos deben ser incluidos en su demanda por infracción de derechos de autor:

Proporcionar evidencia de la persona autorizada para actuar en nombre del titular de un derecho exclusivo que presuntamente se ha infringido.
Proporcionar información de contacto suficiente para que podamos comunicarnos con usted. También debe incluir una dirección de correo electrónico válida.
Debe identificar detalladamente el trabajo cuyos derechos de autor han sido violados y que incluye al menos un término de búsqueda en las que el material aparece en los resultados de búsqueda de Waomovies .
Una declaración de que la parte reclamante cree de buena fe que el uso del material descrito en la reclamación no está autorizado por el propietario del copyright, su agente o la ley.
Una declaración que afirme que la información de la notificación es exacta, y bajo pena de perjurio, que la parte reclamante está autorizada a actuar en nombre del titular de un derecho que presuntamente se ha infringido.
Debe ser firmado por la persona autorizada para actuar en nombre del titular de un derecho que presuntamente se ha infringido.

Enviar el aviso de infracción por un correo electrónico a dmca@pelispedia.tv

Por favor, espere entre 3 y 7 días hábiles para una respuesta. Tenga en cuenta que el envío de su queja a otras partes, como nuestro proveedor de servicios de Internet no acelerará su solicitud y puede resultar en una respuesta retrasada o nula debido a que la denuncia no pudo haber sido presentado correctamente.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
        </ul>
      </div>
      <div class="flex-child-ft item4 col-md-4">
        <h4>Cuenta</h4>
        <ul>
          <li><a href="#">Menú Wao</a></li>  
          <li><a href="#">Guía de usuario</a></li>
        </ul>
      </div>
      <!--div class="flex-child-ft item5">
        <h4>WaoMovies</h4>
        <p>Calidad de lujo.</p>
        <form action="#">
          <input type="text" placeholder="Enter your email...">
        </form>
        <a href="#" class="btn">Activar WaoTv <i class="fa fa-key" aria-hidden="true"></i></a>
      </div-->
    </div>
  </div>
  <div class="ft-copyright">
    <div class="ft-left">
      <p>© 2019 WaoMovies. Todos los derechos reselvados</p>
    </div>
    <div class="backtotop">
      <p><a href="#" id="back-to-top">Regresar arriba  <i class="fa fa-arrow-up" aria-hidden="true"></i></a></p>
    </div>
  </div>
</footer>
<!-- end of footer section-->
</body>
</html>