{% load timedelta_filter %}
{% load static %}

<!DOCTYPE html>
<html lang="es" class="no-js">
<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="{% static '' %}css/plugins.css">
	<link rel="stylesheet" href="{% static '' %}css/style.css">
<script src="{% static '' %}js/jquery.js"></script>
<script src="{% static '' %}js/plugins.js"></script>
<script src="{% static '' %}js/plugins2.js"></script>
<script src="{% static '' %}js/custom.js"></script>
</head>
<body>
{% block content %}
<div class="page-single-2">
	<div class="container">
		<div class="row ipad-width">
			<div class="left-content">
				<a href="/inicio/"><img class="md-logo" src="{% static 'img/waologo.png' %}" alt="" width="150"></a>
				<h1>Coming soon </h1>
				<p style="font-weight: bold; font-size: 18px;">Estamos pendiente de ti, y tus gustos, por eso estamos trabajando para traerte tus series preferídas.</p>
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="coming-ct">
							<div id="clockdiv" class="time">
								<div class="it-time">
									<span class="">{{ remaining|timedelta:"{days_total}"  }}</span><br>
									<p>Días</p>
								</div>
								
								<!--div class="it-time">
									<span class="">{{ remaining|timedelta:"{hours2}"  }}</span><br>		
									<p>Horas</p>
								</div>
								<div class="it-time">
									<span class="">{{ remaining|timedelta:"{minutes2}"  }}				
									</span><br>	
									<p>Minutos</p>
								</div>
								<div class="it-time">
									<span class="">{{ remaining|timedelta:"{seconds2}"  }}							
									</span><br>
									<p>Segundos</p>
								</div-->
							</div>	
						</div>
						
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
						<img class="cm-img" src="{% static 'img/cm_img.png' %}" alt="">
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
{% endblock %}


</body>
</html>