{% extends 'base.html' %}
{% load static %}


<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">
<!-- Copied from http://haintheme.com/demo/html/bustter/userprofile.html by Cyotek WebCopy 1.4.0.469, miércoles, 23 de mayo de 2018, 18:05:35 -->
<head>
	<!-- Basic need -->
	<title>{% block title %} {{ usuario.full_name }}{% endblock %}</title>

</head>
<body>

	{% block content %}

<div class="hero user-hero" style="background: url('{% static 'img/fondo.jpg' %}') no-repeat;
                      background-position: center;
                      text-align: center;
                      background-size: cover;
                      position: relative;
                      padding-top: 200px;
                      padding-bottom: 50px;
                      display: -webkit-flex;
                      display: -moz-box;
                      display: -ms-flexbox;
                      display: flex;
                      align-items: center;
                      justify-content: center; ">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">

					<h1>{{ usuario.full_name }}</h1>
			
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="user-information">
					<div class="user-img" style="position: relative; top: -30px;">
						<a href="#"><img id="blah" alt="your image" src="{{ usuario.profile.perfil_img.url }}" alt=""><br></a>
						<form method='POST' action='/edit/{{ request.user.id }}/' enctype='multipart/form-data'>{% csrf_token %}
						<button  type="submit" class="ip-upload btn redbtn"><input class="ip-file" type="file" name="perfil_img" accept="image/*" id="imgInp"><span style="font-size: 14px;">Cambiar foto de perfil</span></input></button>
						<br>
						<br>
						
						<button class="btn redbtn sendbutton" style="background:#F4BB00;"><i class="fa fa-send" style="position: relative; padding-left: 5px;"></i></button></form>
					</div>
					<div class="user-fav">
						<p>Detalles</p>
						<ul>
							<li class="{% if user_details %}active{% endif %}"><a href="/usuario/{{request.user.username}}/">Perfil</a></li>
							<li class="{% if user_favoritos %}active{% endif %}"><a href="/user_ver_favoritos/{{request.user.username}}/">Peliculas favoritas</a></li>
							<li class="{% if series_fav %}active{% endif %}"><a href="/user_ver_series_favoritos/{{request.user.username}}/">Series favoritas</a></li>
							<li class="{% if not user_details and not user_favoritos and not series_fav and vermas%}active{% endif %}"><a href="/ver_más_tarde/{{request.user.username}}/">Ver más tarde</a></li>
						</ul>
					</div>

{% if request.user.admin %}
<div class="user-fav">
						<p>Dashboard</p>
						<ul>
							<li class="{% if not user_details and not user_favoritos and not series_fav and not vermas%}active{% endif %}"><a href="/usuario/{{request.user.username}}/">Usuarios</a></li>
							<li class="{% if not user_details and not user_favoritos and not series_fav and not vermas%}active{% endif %}"><a href="/user_ver_favoritos/{{request.user.username}}/">Películas</a></li>
							<li class="{% if not user_details and not user_favoritos and not series_fav and not vermas%}active{% endif %}"><a href="/user_ver_series_favoritos/{{request.user.username}}/">Series</a></li>
						</ul>
					</div>
{% endif %}
	
					<div class="user-fav">
						<p>Otros</p>

						<ul>
							<li><a href="/logout/">Cerrar sesión</a></li>
							
							<li><a class="btn btn-primary" data-toggle="modal" data-target="#modalConfirmDelete">Eliminar cuenta</a></li>

<!-- Button trigger modal-->

<!--Modal: modalConfirmDelete-->
<div style="z-index: 99999999;" class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
            <!--Content-->
            <div class="modal-content text-center">
                <!--Header-->
                <div class="modal-header d-flex justify-content-center">
                    <p class="heading">¿Estás seguro? <br><small>No podras recuperar tu cuenta!</small></p>
                </div>

                <!--Body-->
                <div class="modal-body">

                    <i class="fa fa-times fa-4x animated rotateIn"></i>

                </div>

                <!--Footer-->
                <div class="modal-footer flex-center">
                    <a href="/user_delete/{{ request.user.id }}/" class="btn  btn-outline-danger">Si</a>
                    <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: modalConfirmDelete-->

					<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <strong style="color: black;"> ¿Desea eliminar tu cuenta? {{ request.user.email }}</strong>
    <form method="post" action="/user_delete/{{ request.user.id }}/">{% csrf_token %}
    	<input type="submit" name="" title="Eliminar" value="Eliminar">
</form>
  </div>

</div>
		
						</ul>
						<!-- Trigger/Open The Modal -->


			<script type="text/javascript">
			// Get the modal
			var modal = document.getElementById('myModal');

			// Get the button that opens the modal
			var btn = document.getElementById("myBtn");

			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close")[0];

			// When the user clicks on the button, open the modal 
			btn.onclick = function() {
			    modal.style.display = "block";
			}

			// When the user clicks on <span> (x), close the modal
			span.onclick = function() {
			    modal.style.display = "none";
			}

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
			    if (event.target == modal) {
			        modal.style.display = "none";
			    }
			}
		</script>			</div>
				</div>
			</div>
{% if not series_fav %}
			{% if user_favoritos and not n %}
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="topbar-filter user">
					<p style="width: 100%;">{{ peliculas_list.count }}<span>{% if peliculas_list.count == 1 %} Película encontrada{% else %} Películas encontradas {% endif%}</span></p>
					<label>Ordenada por:</label>
					<select>
						<option value="range">Fecha de selección</option>
					</select>
					
				</div>
				<div class="flex-wrap-movielist " >
{% for o in peliculas %}
						<div class="movie-item-style-2 movie-item-style-1 style-3">
							<img src="{{o.Cover.url}}" alt="">
							{% include 'ajax.html' %}
							<div class="mv-item-infor">
								<h6><a href="/peliculas/{{o.id}}/">{{o.titulo}}</a></h6>
								<p class="rate"><i class="fa fa-star"></i><span>{{o.puntuacion}}</span> /10</p>
							</div>
						</div>	
						{% endfor %}				
					
				</div>		
				<div class="topbar-filter">
					<label>Películas por páginas</label>
					<select>
						<option value="range">20 películas</option>
					</select>
					
					<div class="pagination2" style="position: relative; top: 10px;">
						{% if peliculas.has_previous %}
            			<a href="?page=1">&laquo; 1</a>
            			<a href="?page={{ peliculas.previous_page_number }}"><i class="fa fa-long-arrow-left point"></i></a>
        				{% endif %}
						<span>Página {{ peliculas.number }} de {{ peliculas.paginator.num_pages }}:</span>
						{% for i in peliculas.paginator.page_range %}
						{% if peliculas.number == i %}
							<a class="active" href="?page={{ i }}">{{ i }}</a>

						{% elif i > peliculas.number|add:'-3' and i < peliculas.number|add:'3' %}
							<a class="" href="?page={{ i }}">{{ i }}</a>
											
						{% endif %}
						{% endfor %}
						 {% if peliculas.has_next %}
						
					
            <a href="?page={{ peliculas.next_page_number }}"><i class="fa fa-long-arrow-right point"></i></a>
            <a href="?page={{ peliculas.paginator.num_pages }}">{{ peliculas.paginator.num_pages }}&raquo;</a>
        {% endif %}
						<a href="#"></a>
					</div>
				</div>
			</div>
			{% endif %}
{% if user_details and not user_favoritos %}

			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro" >
					<form method="post" action="/user_edit/{{ usuario.id }}/" class="user">{% csrf_token %}
						<h4>Cambiar detalles de la cuenta<small> &nbsp; &nbsp; *llena los datos de quieras editar*</small></h4> 
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Nombre</label>
								<input type="text"  pattern="[A-Za-z ñ]{4,30}" title="Tu nombre no puede contener caracteres especiales: ni más de 4 y menos de 30 caracteres" placeholder="{{ usuario.full_name }}" name="full_name">
							</div>
							<div class="col-md-6 form-it">
								<label>Nombre de usuario</label>
								<input type="text"  pattern="[A-Za-z0-9]{4,18}" title="El nombre de usuario no puede contener caracteres especiales, ni más de 4 y menos de 18 caracteres" placeholder="{{ usuario.username }}" name="username">
							</div>
							<div class="col-md-12 form-it">
								<label>Email</label>
								<input type="text" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" title="Por favor introduce una dirección de email valida e.g. XXX.XXX@gmail.com" placeholder="{{ usuario.email }}" name="email">
							</div>
						</div>
						<style type="text/css">
							.border-select:hover {
								display: inline-block; margin-left: 15px;   border: 1px solid #3DB13D; width: 100px; height: 110px; padding:3%; border-radius: 7px;
							}
						</style>
					<script type="text/javascript">
						function functionas(b)

						b.value = ""
					</script>
						<div class="row">
							<div class="col-md-2">
								<input style="cursor: pointer;" class="submit" type="submit" value="Cambiar">
							</div>
						</div>	
					</form>
					<div id="generosdiv" style=" padding-bottom: 20px; padding-top: 8px; ">
						<h4>Generos preferidos</h4>
						<p style="margin-top: -18px; padding-bottom: 6px;">Selecciona tus generos preferidos para una mejor selección de contendio para ti </p>
{% if request.user in comedia.comedia.all %}
<div style="display: inline-block; margin-left: 15px; margin-bottom: 15px;  border: 1px solid #3DB13D; width: 100px; height: 110px; padding:3%; border-radius: 7px;" class=" col-lg-2"> 
	<i class=" fa fa-check" style="background-color: #3db13d; border-radius: 50%; width: 17px; height: 15px; padding: 2.9%; margin-top: -60px; position: relative; top:-16px; margin-left: 43px; font-size: 13px;"></i>
	<form  class="comedia" style="display: inline; position: relative; top:-15px;" data-url="/generoz_eliminar/comedia/" method="post"> {% csrf_token %}
		{% csrf_token %}
	{% else %}
	<div style="display: inline-block; margin-left: 15px; position: relative; top: -12px;   width: 100px; height: 110px; padding:3%; " class="border-select col-lg-2">
<form class="comedia" style="display: inline; position: relative; top:8px;" data-url="/generoz/comedia/" method="post"> {% csrf_token%}
{% endif %}

	

						<img src="{% static 'img/comedy.png' %}" width="60">
						<button class="" onclick="generosele(this)" id="comedia" type="submit" style="width: 100px; height: 100px; position: absolute; margin-top: -70px; background: none; margin-left: -24px; border:none; cursor: pointer;"></button>
						

		
	</form>
	{% if request.user in comedia.comedia.all %}<p style="text-align: center; margin-top:-10px;">Comedia</p>{% else %}<p style="text-align: center; position:relative; top:14px;">Comedia</p>{% endif %}
</div>
{% if request.user in drama.drama.all %}
<div style="display: inline-block; margin-left: 15px; margin-bottom: 15px;  border: 1px solid #3DB13D; width: 100px; height: 110px; padding:3%; border-radius: 7px;" class="col col-lg-2"> 
	<i class=" fa fa-check" style="background-color: #3db13d; border-radius: 50%; width: 17px; height: 15px; padding: 2.9%; margin-top: -60px; position: relative; top:-16px; margin-left: 43px; font-size: 13px;"></i>
	<form class="drama" style="display: inline; position: relative; top:-15px;" data-url="/generoz_eliminar/drama/" method="post">

		{% csrf_token%}
	{% else %}
	<div style="display: inline-block; margin-left: 15px; position: relative; top: -12px;   width: 100px;height: 110px; padding:3%; " class="border-select col-lg-2"> 

		<form class="drama" style="display: inline; position: relative; top:8px;" data-url="/generoz/drama/" method="post"> {% csrf_token%}
{% endif %}
	
						<img src="{% static 'img/drama.png' %}" width="60">
						<button class="" id="drama" onclick="generosele(this)" type="submit" style="width: 100px; height: 100px; position: absolute; margin-top: -70px; background: none; margin-left: -24px; border:none; cursor: pointer;"></button>

	</form>
	
	{% if request.user in drama.drama.all %}<p style="text-align: center; margin-top:-10px;">Drama</p>{% else %}<p style="text-align: center; position:relative; top:14px;">Drama</p>{% endif %}
</div>
{% if request.user in accion.accion.all %}
<div style="display: inline-block; margin-left: 15px; margin-bottom: 15px;  border: 1px solid #3DB13D; width: 100px; height: 110px; padding:3%; border-radius: 7px;" class=" col-lg-2"> 
	<i class=" fa fa-check" style="background-color: #3db13d; border-radius: 50%; width: 17px; height: 15px; padding: 2.9%; margin-top: -60px; position: relative; top:-16px; margin-left: 43px; font-size: 13px;"></i>
	<form class="accion" style="display: inline; position: relative; top:-15px;" data-url="/generoz_eliminar/accion/" method="post">
		{% csrf_token %}
	{% else %}
	<div style="display: inline-block; margin-left: 15px; position: relative; top: -12px;   width: 100px; height: 110px; padding:3%; " class="border-select col-lg-2">
<form class="accion" style="display: inline; position: relative; top:8px;" data-url="/generoz/accion/" method="post"> {% csrf_token%}
{% endif %}
	
						<img src="{% static 'img/action.png' %}" width="60">
						<button id="accion" class="" onclick="generosele(this)" type="submit" style="width: 100px; height: 100px; position: absolute; margin-top: -70px; background: none; margin-left: -24px; border:none; cursor: pointer;"></button>
		
	</form>
	{% if request.user in accion.accion.all %}<p style="text-align: center; margin-top:-10px;">Acción</p>{% else %}<p style="text-align: center; position:relative; top:14px;">Acción</p>{% endif %}
	
</div>
{% if request.user in documental.documental.all %}
<div style="display: inline-block; margin-left: 15px; margin-bottom: 15px;  border: 1px solid #3DB13D; width: 100px; height: 110px; padding:3%; border-radius: 7px;" class=" col-lg-2"> 
	<i class=" fa fa-check" style="background-color: #3db13d; border-radius: 50%; width: 17px; height: 15px; padding: 2.9%; margin-top: -60px; position: relative; top:-16px; margin-left: 43px; font-size: 13px;"></i>
	<form class="documental" style="display: inline; position: relative; top:-15px;" data-url="/generoz_eliminar/documental/" method="post">
		{% csrf_token %}
	{% else %}
	<div style="display: inline-block; margin-left: 15px; position: relative; top: -12px;   width: 100px; height: 110px; padding:3%; " class="border-select col-lg-2">
<form class="documental" style="display: inline; position: relative; top:8px;" data-url="/generoz/documental/" method="post"> {% csrf_token%}
{% endif %}
	
						<img src="{% static 'img/documentary.png' %}" width="60">
						<button id="documental" class="" onclick="generosele(this)" type="submit" style="width: 100px; height: 100px; position: absolute; margin-top: -70px; background: none; margin-left: -24px; border:none; cursor: pointer;"></button>
		
	</form>
	{% if request.user in documental.documental.all %}<p style="text-align: center; margin-top:-10px; position: relative; left: -12px;">Documental</p>{% else %}<p style="text-align: center; position:relative; top:14px; left: -12px;">Documental</p>{% endif %}
</div>
{% if request.user in fantasia.fantasia.all %}
<div style="display: inline-block; margin-left: 15px; margin-bottom: 15px;  border: 1px solid #3DB13D; width: 100px; height: 110px; padding:3%; border-radius: 7px;" class=" col-lg-2"> 
	<i class=" fa fa-check" style="background-color: #3db13d; border-radius: 50%; width: 17px; height: 15px; padding: 2.9%; margin-top: -60px; position: relative; top:-16px; margin-left: 43px; font-size: 13px;"></i>
	<form class="fantasia" style="display: inline; position: relative; top:-15px;" data-url="/generoz_eliminar/fantasia/" method="post">
		{% csrf_token %}
	{% else %}
	<div style="display: inline-block; margin-left: 15px; position: relative; top: -12px;   width: 100px; height: 110px; padding:3%; " class="border-select col-lg-2">
<form class="fantasia" style="display: inline; position: relative; top:8px;" data-url="/generoz/fantasia/" method="post"> {% csrf_token%}
{% endif %}
	
						<img src="{% static 'img/fantasy.png' %}" width="60">
						<button id="fantasia" class="" onclick="generosele(this)" type="submit" style="width: 100px; height: 100px; position: absolute; margin-top: -70px; background: none; margin-left: -24px; border:none; cursor: pointer;"></button>
		
	</form>
	{% if request.user in fantasia.fantasia.all %}<p style="text-align: center; margin-top:-10px;">Fantasía</p>{% else %}<p style="text-align: center; position:relative; top:14px;">Fantasía</p>{% endif %}
</div>
{% if request.user in terror.terror.all %}
<div style="display: inline-block; margin-left: 15px; margin-bottom: 15px;  border: 1px solid #3DB13D; width: 100px; height: 110px; padding:3%; border-radius: 7px;" class=" col-lg-2"> 
	<i class=" fa fa-check" style="background-color: #3db13d; border-radius: 50%; width: 17px; height: 15px; padding: 2.9%; margin-top: -60px; position: relative; top:-16px; margin-left: 43px; font-size: 13px;"></i>
	<form class="terror" style="display: inline; position: relative; top:-15px;" data-url="/generoz_eliminar/terror/" method="post">
		{% csrf_token %}
	{% else %}
	<div style="display: inline-block; margin-left: 15px; position: relative; top: -12px;   width: 100px; height: 110px; padding:3%; " class="border-select col-lg-2">
<form class="terror" style="display: inline; position: relative; top:8px;" data-url="/generoz/terror/" method="post"> {% csrf_token%}
{% endif %}
	
						<img src="{% static 'img/horror.png' %}" width="60">
						<button id="terror" class="" onclick="generosele(this)" type="submit" style="width: 100px; height: 100px; position: absolute; margin-top: -70px; background: none; margin-left: -24px; border:none; cursor: pointer;"></button>
		
	</form>
	{% if request.user in terror.terror.all %}<p style="text-align: center; margin-top:-10px;">Terror</p>{% else %}<p style="text-align: center; position:relative; top:14px;">Terror</p>{% endif %}
</div>
<br>
{% if request.user in animacion.animacion.all %}
<div style="display: inline-block; margin-left: 15px; margin-bottom: 15px;  border: 1px solid #3DB13D; width: 100px; height: 110px; padding:3%; border-radius: 7px;" class=" col-lg-2"> 
	<i class=" fa fa-check" style="background-color: #3db13d; border-radius: 50%; width: 17px; height: 15px; padding: 2.9%; margin-top: -60px; position: relative; top:-16px; margin-left: 43px; font-size: 13px;"></i>
	<form class="animacion" style="display: inline; position: relative; top:-15px;" data-url="/generoz_eliminar/animacion/" method="post">
		{% csrf_token %}
	{% else %}
	<div style="display: inline-block; margin-left: 15px; position: relative; top: -12px;   width: 100px; height: 110px; padding:3%; " class="border-select col-lg-2">
<form class="animacion" style="display: inline; position: relative; top:8px;" data-url="/generoz/animacion/" method="post"> {% csrf_token%}
{% endif %}
	
						<img src="{% static 'img/animation.png' %}" width="60">
						<button id="animacion" class="" onclick="generosele(this)" type="submit" style="width: 100px; height: 100px; position: absolute; margin-top: -70px; background: none; margin-left: -24px; border:none; cursor: pointer;"></button>
		
	</form>
	{% if request.user in animacion.animacion.all %}<p style="text-align: center; margin-top:-10px;">Animación</p>{% else %}<p style="text-align: center; position:relative; top:14px;">Animación</p>{% endif %}
</div>

{% if request.user in aventura.aventura.all %}
<div style="display: inline-block; margin-left: 15px; margin-bottom: 15px;  border: 1px solid #3DB13D; width: 100px; height: 110px; padding:3%; border-radius: 7px;" class=" col-lg-2"> 
	<i class=" fa fa-check" style="background-color: #3db13d; border-radius: 50%; width: 17px; height: 15px; padding: 2.9%; margin-top: -60px; position: relative; top:-16px; margin-left: 43px; font-size: 13px;"></i>
	<form class="aventura" style="display: inline; position: relative; top:-15px;" data-url="/generoz_eliminar/aventura/" method="post">
		{% csrf_token %}
	{% else %}
	<div style="display: inline-block; margin-left: 15px; position: relative; top: -12px;   width: 100px; height: 110px; padding:3%; " class="border-select col-lg-2">
<form class="aventura" style="display: inline; position: relative; top:8px;" data-url="/generoz/aventura/" method="post"> {% csrf_token%}
{% endif %}
	
						<img src="{% static 'img/adventure.png' %}" width="60">
						<button id="aventura" class="" onclick="generosele(this)" type="submit" style="width: 100px; height: 100px; position: absolute; margin-top: -70px; background: none; margin-left: -24px; border:none; cursor: pointer;"></button>
		
	</form>
	{% if request.user in aventura.aventura.all %}<p style="text-align: center; margin-top:-10px;">Aventura</p>{% else %}<p style="text-align: center; position:relative; top:14px;">Aventura</p>{% endif %}
</div>
{% if request.user in romance.romance.all %}
<div style="display: inline-block; margin-left: 15px; margin-bottom: 15px;  border: 1px solid #3DB13D; width: 100px; height: 110px; padding:3%; border-radius: 7px;" class=" col-lg-2"> 
	<i class=" fa fa-check" style="background-color: #3db13d; border-radius: 50%; width: 17px; height: 15px; padding: 2.9%; margin-top: -60px; position: relative; top:-16px; margin-left: 43px; font-size: 13px;"></i>
	<form class="romance" style="display: inline; position: relative; top:-15px;" data-url="/generoz_eliminar/romance/" method="post">
		{% csrf_token %}
	{% else %}
	<div style="display: inline-block; margin-left: 15px; position: relative; top: -12px;   width: 100px; height: 110px; padding:3%; " class="border-select col-lg-2">
<form class="romance" style="display: inline; position: relative; top:8px;" data-url="/generoz/romance/" method="post"> {% csrf_token%}
{% endif %}
	
						<img src="{% static 'img/romance.png' %}" width="60">
						<button id="romance" class="" onclick="generosele(this)" type="submit" style="width: 100px; height: 100px; position: absolute; margin-top: -70px; background: none; margin-left: -24px; border:none; cursor: pointer;"></button>
		
	</form>
	{% if request.user in romance.romance.all %}<p style="text-align: center; margin-top:-10px;">Romance</p>{% else %}<p style="text-align: center; position:relative; top:14px;">Romance</p>{% endif %}
</div>
{% if request.user in ciencia_ficcion.ciencia_ficcion.all %}
<div style="display: inline-block; margin-left: 15px; margin-bottom: 15px;  border: 1px solid #3DB13D; width: 100px; height: 110px; padding:3%; border-radius: 7px;" class=" col-lg-2"> 
	<i class=" fa fa-check" style="background-color: #3db13d; border-radius: 50%; width: 17px; height: 15px; padding: 2.9%; margin-top: -60px; position: relative; top:-16px; margin-left: 43px; font-size: 13px;"></i>
	<form class="ciencia_ficcion" style="display: inline; position: relative; top:-15px;" data-url="/generoz_eliminar/ciencia_ficcion/" method="post">
		{% csrf_token %}
	{% else %}
	<div style="display: inline-block; margin-left: 15px; position: relative; top: -12px;   width: 100px; height: 110px; padding:3%; " class="border-select col-lg-2">
<form class="ciencia_ficcion" style="display: inline; position: relative; top:8px;" data-url="/generoz/ciencia_ficcion/" method="post"> {% csrf_token%}
{% endif %}
	
						<img src="{% static 'img/sci-fi.png' %}" width="60">
						<button id="ciencia_ficcion" class="" onclick="generosele(this)" type="submit" style="width: 100px; height: 100px; position: absolute; margin-top: -70px; background: none; margin-left: -24px; border:none; cursor: pointer;"></button>
		
	</form>
	{% if request.user in ciencia_ficcion.ciencia_ficcion.all %}<p style="text-align: center; margin-top:-10px;">Sci Fi</p>{% else %}<p style="text-align: center; position:relative; top:14px;">Sci Fi</p>{% endif %}
</div>
{% if request.user in crimen.crimen.all %}
<div style="display: inline-block; margin-left: 15px; margin-bottom: 15px;  border: 1px solid #3DB13D; width: 100px; height: 110px; padding:3%; border-radius: 7px;" class=" col-lg-2"> 
	<i class=" fa fa-check" style="background-color: #3db13d; border-radius: 50%; width: 17px; height: 15px; padding: 2.9%; margin-top: -60px; position: relative; top:-16px; margin-left: 43px; font-size: 13px;"></i>
	<form class="crimen"  style="display: inline; position: relative; top:-15px;" data-url="/generoz_eliminar/crimen/" method="post">
		{% csrf_token %}
	{% else %}
	<div style="display: inline-block; margin-left: 15px; position: relative; top: -12px;   width: 100px; height: 110px; padding:3%; " class="border-select col-lg-2">
<form  class="crimen" style="display: inline; position: relative; top:8px;" data-url="/generoz/crimen/" method="post"> {% csrf_token%}
{% endif %}
	
						<img src="{% static 'img/thriller.png' %}" width="60">
						<button  id="crimen" class="" onclick="generosele(this)" type="submit" style="width: 100px; height: 100px; position: absolute; margin-top: -70px; background: none; margin-left: -24px; border:none; cursor: pointer;"></button>
		
	</form>
	{% if request.user in crimen.crimen.all %}<p style="text-align: center; margin-top:-10px;">Crimen</p>{% else %}<p style="text-align: center; position:relative; top:14px;">Crimen</p>{% endif %}
</div>
{% if request.user in suspenso.suspenso.all %}
<div style="display: inline-block; margin-left: 15px; margin-bottom: 15px;  border: 1px solid #3DB13D; width: 100px; height: 110px; padding:3%; border-radius: 7px; position relative; top: 9px;" class=" col-lg-2"> 
	<i class=" fa fa-check" style="background-color: #3db13d; border-radius: 50%; width: 17px; height: 15px; padding: 2.9%; margin-top: -60px; position: relative; top:-16px; margin-left: 43px; font-size: 13px;"></i>
	<form class="suspenso"  style="display: inline; position: relative; top:-15px;" data-url="/generoz_eliminar/suspenso/" method="post">
		{% csrf_token %}
	{% else %}
	<div style="display: inline-block; margin-left: 15px; position: relative; top: -4px;   width: 100px; height: 110px; padding:3%; " class="border-select col-lg-2">
<form class="suspenso" style="display: inline; position: relative; top:8px;" data-url="/generoz/suspenso/" method="post"> {% csrf_token%}
{% endif %}
	
						<img src="{% static 'img/suspenso.png' %}" width="45">
						<button id="suspenso" class="" onclick="generosele(this)" type="submit" style="width: 100px; height: 100px; position: absolute; margin-top: -30px; background:none; margin-left: -70px; border:none; cursor: pointer;"></button>
		
	</form>
	{% if request.user in suspenso.suspenso.all %}<p style="text-align: center; margin-top:-10px;">Suspenso</p>{% else %}<p style="text-align: center; position:relative; top:14px;">Suspenso</p>{% endif %}
</div>



<script type="text/javascript">
	function generosele(b) {
		var juan = b.id
														var c = juan.substr(3)
														var z = juan.substr(5)


														

													var $myForm = $('.' + juan)
													$myForm.submit(function(event){
													    event.preventDefault()
                										 event.stopImmediatePropagation();

													    var $formData = $(this).serialize()
													    var $thisURL = $myForm.attr('data-url') || window.location.href 
													    $.ajax({
													        method: "POST",
													        url: $thisURL,
													        data: $formData,
													        success: handleFormSuccess,
													        error: handleFormError,
													        beforeSend: function () {
           //   document.getElementById("sendingfav" + z).style.display = "initial";

                  //  $("#" +z ).src="none";
                    

                     //Agregamos la clase loading al body
                },
													    })
													})

													function handleFormSuccess(data, textStatus, jqXHR){
													    console.log(data)
													    console.log(textStatus)
													    console.log(jqXHR)
													    $myForm[0].reset(); 
    $("#generosdiv").load(window.location + " #generosdiv");
   

     


          //    document.getElementById("sendingfav" + z).style.display = "none";

              

     


													}

													function handleFormError(jqXHR, textStatus, errorThrown){
													    console.log(jqXHR)
													    console.log(textStatus)
													    console.log(errorThrown)
													}
													
													
	}
</script>





					</div>
					<div style="border-bottom: solid 1px #0F2133;"></div>
					<form name="fformulario" method="post" action="/change_password/{{request.user.id}}/" class="password" onsubmit="return validarFormulariio()">
						{% csrf_token %}
						<h4>Cambiar contraseña</h4>
						<div id="old_password_div" class="row">
							<div  class="col-md-6 form-it">
								<label>Contraseña antigua</label>
								<input type="password" placeholder="**********" name="old_password" >
								<div id="old_password_error" ></div>
							</div>
						</div>
						<div id="new_password1_div" class="row">
							<div  class="col-md-6 form-it">
								<label>Contraseña nueva</label>
								<input type="password" placeholder="***************" name="new_password1" >
								<div id="new_password1_error"></div>
							</div>
						</div>
						<div id="new_password2_div" class="row">
							<div  class="col-md-6 form-it">
								<label>Confirmar nueva contraseña</label>
								<input type="password" placeholder="*************** " name="new_password2" >
								<div id="new_password2_error"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<input style="cursor: pointer;" class="submit" type="submit" value="Cambiar">
							</div>
						</div>	
					</form>
					<div class='col-sm-6 col-sm-offset-3'>

				</div>
			</div>
		</div>
		{% elif not user_favoritos and not user_details %}
		<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="topbar-filter user">
				<p>{% if peliculas_list and series_list %}	{{ cantidad }}<span> Películas y series encontradas</span> {% elif peliculas_list %} {{ peliculas_list.count }} {% if peliculas_list.count == 1 %} <span>Película encontrada</span>{% else %} <span> Peliculas encontradas</span>{% endif %}{% elif series_list %}{{ series_list.count }}{% if series_list.count == 1 %} <span>Serie encontrada</span>{% else %}<span> Series encontradas</span>{%  endif %}{% else %}0<span>  Películas y series</span>{% endif %} </p>
					<label>Ordenada por:</label>
					<select>
						<option value="range">Fecha de selección</option>
					</select>
					
				</div>
				<div class="flex-wrap-movielist grid-fav">
{% for o in peliculas %}
						<div class="movie-item-style-2 movie-item-style-1 style-3">
							<img style=" height: 240px;" src="{% if o.peliculas.Cover %}{{o.peliculas.Cover.url}}{% else %}{{ o.series.serie_cover.url }}{% endif %}" alt="">
							{% if o.series.id %}
							{% include 'ajaxserieuser.html' %}

							{% else %}
							{% include 'ajaxuser.html' %}

							{% endif %}
							<div class="mv-item-infor">
								<h6><a href="{% if o.peliculas %}/peliculas/{{o.peliculas.id}}/{% else %}/series/{{o.series.id}}/{% endif %}">{{o.peliculas.titulo}}{{o.series.titulo}}</a></h6>
								<p class="rate"><i class="fa fa-star"></i><span>{{o.peliculas.puntuacion}}{{o.series.puntuacion}}</span> /10</p>
							</div>
						</div>	
						{% endfor %}				
					
				</div>		
				<div class="topbar-filter">
					<label>Películas por páginas</label>
					<select>
						<option value="range">20 películas</option>
					</select>
					
					<div class="pagination2" style="position: relative; top: 10px;">
						{% if peliculas.has_previous %}
            			<a href="?page=1">&laquo; 1</a>
            			<a href="?page={{ peliculas.previous_page_number }}"><i class="fa fa-long-arrow-left point"></i></a>
        				{% endif %}
						<span>Página {{ peliculas.number }} de {{ peliculas.paginator.num_pages }}:</span>
						{% for i in peliculas.paginator.page_range %}
						{% if peliculas.number == i %}
							<a class="active" href="?page={{ i }}">{{ i }}</a>

						{% elif i > peliculas.number|add:'-3' and i < peliculas.number|add:'3' %}
							<a class="" href="?page={{ i }}">{{ i }}</a>
											
						{% endif %}
						{% endfor %}
						 {% if peliculas.has_next %}
						
					
            <a href="?page={{ peliculas.next_page_number }}"><i class="fa fa-long-arrow-right point"></i></a>
            <a href="?page={{ peliculas.paginator.num_pages }}">{{ peliculas.paginator.num_pages }}&raquo;</a>
        {% endif %}
						<a href="#"></a>
					</div>
				</div>
			</div>
		{% endif %}
		{% else %}
		<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="topbar-filter user">
					<p>{{ peliculas_list.count }}<span>{% if peliculas_list.count == 1 %} Serie encontrada{% else %} Series encontradas {% endif%}</span></p>
					<label>Ordenada por:</label>
					<select>
						<option value="range">Fecha de selección</option>
					</select>
					
				</div>
				<div class="flex-wrap-movielist grid-fav">
{% for o in peliculas %}
						<div class="movie-item-style-2 movie-item-style-1 style-3">
							<img style=" height: 200px;"src="{{o.serie_cover.url}}" alt="">
							{% include 'ajaxserie.html' %}
							<div class="mv-item-infor">
								<h6><a href="/peliculas/{{o.id}}/">{{o.titulo}}</a></h6>
								<p class="rate"><i class="fa fa-star"></i><span>{{o.puntuacion}}</span> /10</p>
							</div>
						</div>	
						{% endfor %}				
					
				</div>		
				<div class="topbar-filter">
					<label>Películas por páginas</label>
					<select>
						<option value="range">20 películas</option>
					</select>
					
					<div class="pagination2" style="position: relative; top: 10px;">
						{% if peliculas.has_previous %}
            			<a href="?page=1">&laquo; 1</a>
            			<a href="?page={{ peliculas.previous_page_number }}"><i class="fa fa-long-arrow-left point"></i></a>
        				{% endif %}
						<span>Página {{ peliculas.number }} de {{ peliculas.paginator.num_pages }}:</span>
						{% for i in peliculas.paginator.page_range %}
						{% if peliculas.number == i %}
							<a class="active" href="?page={{ i }}">{{ i }}</a>

						{% elif i > peliculas.number|add:'-3' and i < peliculas.number|add:'3' %}
							<a class="" href="?page={{ i }}">{{ i }}</a>
											
						{% endif %}
						{% endfor %}
						 {% if peliculas.has_next %}
						
					
            <a href="?page={{ peliculas.next_page_number }}"><i class="fa fa-long-arrow-right point"></i></a>
            <a href="?page={{ peliculas.paginator.num_pages }}">{{ peliculas.paginator.num_pages }}&raquo;</a>
        {% endif %}
						<a href="#"></a>
					</div>
				</div>
			</div>
		{%endif %}
	</div>

</div>



<script type="text/javascript">
	function readURL(input) {
	if (input.files && input.files[0]) {
		var reader = new FileReader();
		
		reader.onload = function (e) {
			$('#blah').attr('src', e.target.result);
		}
		
		reader.readAsDataURL(input.files[0]);
	}
}

	$("#imgInp").change(function(){
		readURL(this);
	});

$(function() {

    // Avatar setup
    $('#avatarModal').imgPicker({
        aspectRatio: 1,
        deleteComplete: function() {
            $('#avatar2').attr('src', '//gravatar.com/avatar/0?d=mm&s=150');
            this.modal('hide');
        },
        uploadSuccess: function(image) {
            // Calculate the default selection for the cropper
            var select = (image.width > image.height) ?
                    [(image.width-image.height)/2, 0, image.height, image.height] :
                    [0, (image.height-image.width)/2, image.width, image.width];

            this.options.setSelect = select;
        },
        cropSuccess: function(image) {
            $('#avatar2').attr('src', image.versions.avatar.url +time() );
            this.modal('hide');
        }
    });

   
});
</script>

<script type="text/javascript">
  var old_password = document.forms['fformulario']['old_password'];
  var new_password1 = document.forms['fformulario']['new_password1'];
  var new_password2 = document.forms['fformulario']['new_password2'];

var old_password_error = document.getElementById('old_password_error');
var new_password1_error = document.getElementById('new_password1_error');
var new_password2_error = document.getElementById('new_password2_error');



old_password.addEventListener('blur', old_passwordVerify, true);
new_password1.addEventListener('blur', new_password1Verify, true);
new_password2.addEventListener('blur', new_password2Verify, true);

function validarFormulariio() {
  // validate username
  if (old_password.value == "") {
    old_password.style.border = "1px solid red";
    document.getElementById('old_password_div').style.color = "red";
    username_error.textContent = "Nombre de usuario obligatorio";
    old_password.focus();
    return false;
  }

  // validate full_name
  if (new_password1.value.length == "") {
    new_password1.style.border = "1px solid red";
    document.getElementById('new_password1_div').style.color = "red";
    new_password1_error.textContent = "Nueva contraseña  obligatoria";
    new_password1.focus();
    return false;
  }
  // validate full_name
  if (new_password1.value.length < 8) {
    new_password1.style.border = "1px solid red";
    document.getElementById('new_password1_div').style.color = "red";
    new_password1_error.textContent = "La contraseña debe tener más de 8 caracteres";
    new_password1.focus();
    return false;
  }


 // validate full_name
  if (new_password1.value.length > 20) {
    new_password1.style.border = "1px solid red";
    document.getElementById('new_password1_div').style.color = "red";
    new_password1_error.textContent = "La contraseña debe tener menos de 20 caracteres";
    new_password1.focus();
    return false;
  }



  // validate email
  if (new_password2.value == "") {
    new_password2.style.border = "1px solid red";
    document.getElementById('new_password2_div').style.color = "red";
    new_password2_error.textContent = "Debe confrimar contraseña";
    new_password2.focus();
    return false;
  }
 
  // check if the two passwords match
  if (new_password1.value != new_password2.value) {
    new_password1.style.border = "1px solid red";
    document.getElementById('new_password1_div').style.color = "red";
    new_password2.style.border = "1px solid red";
    new_password1_error.innerHTML = "Las contraseñas no coinciden";
    return false;
  }

   if (old_password.value === new_password1.value) {
    old_password.style.border = "1px solid red";
    document.getElementById('new_password1_div').style.color = "red";
    new_password1.style.border = "1px solid red";
    new_password1_error.innerHTML = "La nueva contraseña no puede ser igual a la vieja";
    return false;
  }
}


// event handler functions
function old_passwordVerify() {
  if (old_password.value != "") {
   old_password.style.border = "1px solid #5e6e66";
   document.getElementById('old_password_div').style.color = "#5e6e66";
   old_password_error.innerHTML = "";
   return true;
  }
}

function new_password1Verify() {
  if (new_password1.value != "") {
   new_password1.style.border = "1px solid #5e6e66";
   document.getElementById('new_password1_div').style.color = "#5e6e66";
   new_password1_error.innerHTML = "";
   return true;

  }

  if (new_password1.value === new_password2.value) {
    new_password1.style.border = "1px solid #5e6e66";
    document.getElementById('new_password1_div').style.color = "#5e6e66";
    new_password1_error.innerHTML = "";
    return true;
  }

  if (new_password1.value !== old_password.value) {
   new_password1.style.border = "1px solid #5e6e66";
   document.getElementById('new_password1_div').style.color = "#5e6e66";
   new_password1_error.innerHTML = "";
   return true;

  }
}
function new_password2Verify() {
  if (new_password2.value != "") {
    new_password2.style.border = "1px solid #5e6e66";
    document.getElementById('new_password2_div').style.color = "#5e6e66";
    new_password2_error.innerHTML = "";
    return true;
  }
}






</script>

{% endblock %}
</body>



</html>

